<div>
    <h2 id="page-heading">
        <span jhiTranslate="constructionApp.etage.home.title">Etages</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-etage" [routerLink]="['/etage/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="constructionApp.etage.home.createLabel">
            Create a new Etage
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="etages?.length === 0">
        <span jhiTranslate="constructionApp.etage.home.notFound">No etages found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="etages && etages.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroetage"><span jhiTranslate="constructionApp.etage.numeroetage">Numeroetage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="batiment.id"><span jhiTranslate="constructionApp.etage.batiment">Batiment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let etage of etages ;trackBy: trackId">
                    <td><a [routerLink]="['/etage', etage.id, 'view']">{{ etage.id }}</a></td>
                    <td>{{ etage.numeroetage }}</td>
                    <td>
                        <div *ngIf="etage.batiment">
                            <a [routerLink]="['/batiment', etage.batiment?.id, 'view']" >{{ etage.batiment?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/etage', etage.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/etage', etage.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(etage)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="etages && etages.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
